section {
    width: 1000px;
    height: 360px;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
}

h1{
    text-align: center;
}

.choice{
    width: 200px;
    height: 90%;
    padding: 20px;
    margin: 10px;
    background: darkgray;
    box-sizing: border-box;

}

p{
    padding: 5px;
    color:white;
}
