{% extends 'base.html' %}


    {% block title %}
        <title>Welcome to yumble</title>
    {% endblock %}
    
    {% block body %}

    {% if session['username'] %}
        
    <div class="searchBox">
        <form id="searchForm">
            <h2>Search form here</h2>
            <input id='searchBox' type="text">
            <button>Search!</button>
        </form>

        <div class="cardContainer">
            
        </div>

        <div class="showStuff">
            <ul class="stuff">
                
            </ul>
        </div>
    </div>
    {% endif %}


    {% endblock body %}
    