{% extends 'base.html' %}

{% block title %}
    <title>Find matches!</title>
{% endblock %}

{% block body %}



    <h2>Do you like this person?</h2>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{rando_user.img}}" alt="{{rando_user.img}}">
        <div class="card-body">
          <h5 class="card-title">{{rando_user.username}}</h5>
          <p class="card-text">{{rando_user.bio}}</p>
          <h3>My favorite foods</h3>
          <ol>
            {% for item in rando_user_favs %}
                <li><a href="/recipe_details/{{item.recipe_id}}">{{item.title}}</a></li>
            {% endfor %}
          </ol>
          <a href="#" class="btn btn-danger">Swipe Left!</a>
          <a href="/users/{{g.user.id}}/add_to_matches/{{rando_user.id}}" class="btn btn-success">Swipe Right!</a>
          <a href="/users/{{g.user.id}}/another_match" class="btn btn-warning">Show another user</a>
        </div>
      </div>
{% endblock %}