{% extends 'base.html' %}


    {% block title %}
        <title>User Profile Page</title>
    {% endblock %}
    
    {% block body %}
    {% if g.user.id == user.id%}
    <h2>This is your profile</h2>
    <img src="{{user.img}}" alt="" width="300">
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>About: {{user.bio}}</p>
    
    
    <h2>These are your favorite recipes</h2>
    
    <ol>
        {% for fav in favorites %}
        <li><a href="/recipe_details/{{fav.recipe_id}}">{{fav.title}}</a></li>
        {% endfor %}
    </ol>
    
    
    <h2>These are your matches.</h2>
    {% for match in user.matches %}
    <p><a href="/users/{{match.id}}/profile">{{match.username}}, id is {{match.id}}, matches are {{match.matches}}</a></p>
    {% endif %}
    <form action="">
        <button>Edit Matches</button>
    </form>



    {% else %}
    <h1>THIS IS NOT YOUR PROFILE</h1>
        
    <h2>This is the user profile page for {{user.username}}</h2>
    <p>You must like each other in order to see this user's picture!</p>
    <!-- <img src="{{user.img}}" alt="" width="300"> -->
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>About: {{user.bio}}</p>
    
    
    <h2>These are {{user.username}}'s favorite recipes</h2>
    
    <ol>
        {% for fav in favorites %}
        <li><a href="/recipe_details/{{fav.recipe_id}}">{{fav.title}}</a></li>
        {% endfor %}
    </ol>
    
    
    {% endif %}
    
    
    
    
    
    
    
    {% endblock body %}
    