{% extends 'base.html' %}

{% block title %}
    <title>Find matches!</title>
{% endblock %}

{% block body %}



    <h2>Do you like this person?</h2>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><a href="/users/{{rando_user.id}}/profile">{{rando_user.username}}</a></h5>
          <p class="card-text">{{rando_user.bio}}</p>
          <h3>My favorite foods</h3>
          <ol>
            {% for item in rando_user_favs if item.is_top_3 == 'TRUE' or item.is_top_3 =='true' %}
                <li><a href="/recipe_details/{{item.recipe_id}}">{{item.title}}</a></li>
            {% endfor %}
          </ol>
          <a href="#" class="btn btn-danger">Swipe Left!</a>
          <a href="/users/{{g.user.id}}/add_to_matches/{{rando_user.id}}" class="btn btn-success">Swipe Right!</a>
          <a href="/users/{{g.user.id}}/another_match" class="btn btn-warning">Show another user</a>
        </div>
      </div>
{% endblock %}