{% extends 'base.html' %}


    {% block title %}
        <title>User Profile Page</title>
    {% endblock %}
    
    {% block body %}




    {% if g.user.id == user.id %}


                    <img src="{{user.img}}" alt="" width="300">
                    <p>Username: {{user.username}}</p>
                    <p>Email: {{user.email}}</p>
                    <p>About: {{user.bio}}</p>
                    
                    <form action="/users/{{user.id}}/messages">
                      <button>View my messages</button>
                    </form>



    
                    <h2>Your favorite recipes</h2>
    
                    <ol>
                        {% for fav in favorites %}
                        <li><a href="/recipe_details/{{fav.recipe_id}}">{{fav.title}}</a></li>
                        {% endfor %}
                    </ol>

                    <p>There go my matches</p>
                    {% for match in my_matches %}
                      <p>{{match}}</p>
                    {% endfor %}

    
    
    {% else %}
    


    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>About: {{user.bio}}</p>
    
    
    <h2>These are {{user.username}}'s favorite recipes</h2>
    
    <ol>
        {% for fav in favorites %}
        <li><a href="/recipe_details/{{fav.recipe_id}}">{{fav.title}}</a></li>
        {% endfor %}
    </ol>
    
    
    {% endif %}
    
    
    
    
    
    
    
    {% endblock body %}