{% extends 'base.html' %}

{% block body %}
    
<h1>The Messages</h1>
{% for message in messages %}

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">From: {{message.author.username}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{message.timestamp.strftime('%Y-%m-%d %H:%M %p')}}</h6>
      <p class="card-text">{{message.body}}</p>
      <a href="/users/{{message.id}}/delete_message" class="btn btn-danger">Delete message</a>
      <a href="/send_message/{{message.author.username}}" class="btn btn-info">Send reply</a>
    </div>
  </div>













{% endfor %}






{% endblock %}